.box {
  display: flex;
  padding: 0 5px;
  bottom: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 5px;
}

.text {
  color: #555;
}

.inner {
  display: flex;
  gap: 8px;
  align-items: center;
}
