.articleCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 35px;
}

.image {
  border-radius: 10px 10px 0 0;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 10px;
}

.title {
  color: #1c1d1e;
}

.subTitle {
  color: #737373;
  font-size: 0.8em;
  margin-top: 8px;
}
